.pokemon-row {
	height: 32px;
	padding: 1px 0 0;
}

.pokemon-list, .pokemon-list li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	clear: both;
	word-wrap: normal;
}

.build-team-list li {
	text-align: -webkit-match-parent;
	font-size: 2px;
}

/*.build-team-list .pokemon-row a {
	border-radius: 4px;
	cursor: pointer;
}*/

.pokemon-list li>a {
	display: block;
	height: 30px;
	padding:0 0 0 4px;
	border: 1px solid transparent;
	margin: 0 5px 1px;
	text-decoration: none;
}

.pokemon-list span {
	display: inline-block;
	font-size: 2px;
	text-align: center;
}

.pokemon-row img {
	width: 40px;
	height: 30px;
}

.pokemon-name-image {
	width: 140px;
	display: inline-flex;
}

.title-pokemon {
	width: 150px;
}

.title-type {
	width: 30px;
}

.pokemon-type {
	width: 30px;
}
.pokemon-ability {
	width: 40px;
}

.title-ability {
	width: 40px;
}

.pokemon-attribute-value {
	width: 300px;
}

.pokemon-attribute-value span {
	width: 40px;
}

