<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />

	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/team-build.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
</head>

<body>
	<!--/top-bar-->
	<div class="top-bar_sub_w3ls_agileits">
		<h6>
			<!-- <i class="fa fa-phone" aria-hidden="true"></i> Call Us : 00950804988436 -->
			<a>Pokemon VS</a>
		</h6>
		<div class="search">
			<h5 class="sign">
				<a class="sign" href="#" data-toggle="modal" data-target="#myModal2">User Login</a>
			</h5>
			<!-- <div class="cd-main-header_w3layouts_agile">
				<ul class="cd-header_w3layouts_agile-buttons">
					<li>
						<a class="cd-search-trigger" href="#cd-search">
							<span></span>
						</a>
					</li>
				</ul>
				
			</div> -->
			<!-- <div id="cd-search" class="cd-search">
				<form action="#" method="post">
					<input name="Search" type="search" placeholder="Click enter after typing...">
				</form>
			</div> -->
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--/top-bar-->
	<div class="header_w3layouts_agile-main">
		<header class="header" id="home">
			<!--/top-bar-->
<!-- 			<div class="top-bar">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
					</div>
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="top_nav">
								<li>
									<a class="active" href="index.html">Home</a>
								</li>
								<li>
									<a href="/template/about.html">About</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">Drop Down
										<span class="fa fa-angle-down"></span>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="services.html">Services</a>
										</li>
										<li>
											<a href="app.html">Mobile App</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="gallery.html">Gallery</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
						</nav>
					</div>
				</nav>
			</div> -->
			<!--//top-bar-->
		</header>
		<!-- banner-text -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="banner-top">
							<div class="banner-info">
								<h3>Gather new Body Energy </h3>
								<!-- <a href="about.html">TeamBuilder
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
								<a href="contact.html">Battle
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a> -->
							</div>

						</div>
					</li>
					<li>
						<div class="banner-top1">
							<div class="banner-info">
								<h3>Discover Your inner Sanctuary </h3>
								<!-- <a href="about.html">TeamBuilder
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
								<a href="contact.html">Battle
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a> -->
							</div>

						</div>
					</li>
					<li>
						<div class="banner-top2">
							<div class="banner-info">
								<h3>Lighten your Hearts &amp; Minds </h3>
								<!-- <a href="about.html">TeamBuilder
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
								<a href="contact.html">Battle
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a> -->
							</div>

						</div>
					</li>
					<li>
						<div class="banner-top3">
							<div class="banner-info">
								<h3>Discover Your inner Sanctuary </h3>
								<!-- <a href="about.html">TeamBuilder
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
								<a href="contact.html">Battle
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a> -->
							</div>

						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>

			<!--banner Slider starts Here-->
		</div>
	</div>
	<!--//Slider-->

	<!-- Modal1 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="/static/images/pikachu.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Login</h3>
							<h4 class="inputWarning" data-warning="inputWarning"></h4>
							<div class="login-form">
								<form action="#" method="post">
									<input type="username" name="username" placeholder="Username" required="" data-input="username">
									<input type="password" name="password" placeholder="Password" required="" data-input="password">
									<div class="tp">
										<input type="button" value="Log In" data-button="login">
										<input type="button" value="Sign Up" data-button="signup">
									</div>
								</form>
							</div>
							<!-- <div class="login-social-grids">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-rss"></i>
										</a>
									</li>
								</ul>
							</div> -->
							<!-- <p>
								<a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a>
							</p> -->
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- Modal2 -->
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="/static/images/model.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Sign Up</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input type="text" name="name" placeholder="Name" required="">
									<input type="email" name="email" placeholder="Email" required="">
									<input type="password" name="password" placeholder="Password" id="password1" required="">
									<input type="password" name="password" placeholder="Confirm Password" id="password2" required="">
									<input type="submit" value="Sign Up">
								</form>
							</div>
							<p>
								<a href="#"> By clicking Sign up, I agree to your terms</a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal2 -->

	<!--//header_w3layouts_agile-->
	<!--/banner_bottom-->

	<!--//banner_bottom-->
	<div class="build-team-list">
		<ul class="pokemon-list">
			<li class="title">
				<div class="title-row">
					<span class="title-pokemon">宝可梦</span>
					<span class="title-type">属性</span>
					<span class="title-ability">特性</span>
					<span  class="pokemon-attribute-value">
						<span class="title-HP">生命值</span>
						<span class="title-ATK">攻击</span>
						<span class="title-DEF">防御</span>
						<span class="title-SPA">特攻</span>
						<span class="title-SPD">特防</span>
						<span class="title-SPE">速度</span>
					</span>
				</div>
			</li>

			<li class="pokemon-row" data-pokemon-row="test">
				<a data-pokemon="pokemon" class="pokemon-click-row">
					<span class="pokemon-name-image">
						<img src="/static/images/flygon.png" class="pokemon-image">
						<span class="pokemon-name">AAAAAAAAAA</span>
					</span>
					
					<span class="pokemon-type">电</span>
					<span class="pokemon-ability">静电</span>
					<span class="pokemon-attribute-value">
						<span class="pokemon-HP">
						<!-- <em>生命值</em>
						<br>
 -->						300
						</span>
						<span class="pokemon-ATK">
						<!-- <em>攻击</em>
						<br> -->
							100
						</span>
						<span class="pokemon-DEF">
						<!-- <em>防御</em>
						<br> -->
							100
						</span>
						<span class="pokemon-SPA">
						<!-- <em>特攻</em>
						<br> -->
							150
						</span>
						<span class="pokemon-SPD">
						<!-- <em>特防</em>
						<br> -->
							130
						</span>
						<span class="pokemon-SPE">
						<!-- <em>生命值</em>
						<br> -->
							128
						</span>
					</span>
					
				</a>
			</li>
		</ul>
	</div>
		
	<!--//timeline-->
	<!--/tesimonials-->
	

	<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					Luscious
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="/static/images/model.jpg" alt=" " class="img-responsive" />
					<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
						consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
						vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //bootstrap-modal-pop-up -->
	<!--footer-->
	<footer class="contact-footer">
		<div class="bottom-social">
			<div class="container">
				<div class="col-md-8 botttom-nav-w3ls-agile">
					<ul class="f_links col-md-4" data-aos="zoom-in">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="template/about.html">About</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>
						<li>
							<a href="gallery.html">Gallery</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
					<ul class="f_links col-md-4" data-aos="zoom-in">
						<li>
							<a href="index.html">Topics</a>
						</li>
						<li>
							<a href="404.html">Blog</a>
						</li>
						<li>
							<a href="404.html">Features</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>

					</ul>
					<ul class="f_links thrd col-md-4" data-aos="zoom-in">
						<li>
							<a href="index.html">Topics</a>
						</li>
						<li>
							<a href="404.html">Events</a>
						</li>
						<li>
							<a href="app.html">Mobile App</a>
						</li>


					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 social-icons" data-aos="zoom-in">
					<h6>Connect with us</h6>
					<a class="facebook" href="#">
						<span class="fa fa-facebook"></span>
					</a>
					<a class="twitter" href="#">
						<span class="fa fa-twitter"></span>
					</a>
					<a class="pinterest" href="#">
						<span class="fa fa-pinterest-p"></span>
					</a>
					<a class="linkedin" href="#">
						<span class="fa fa-linkedin"></span>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<!-- <div class="copy">
			<h2 class="footer-logo">
				<a href="index.html">Fettle
					<span>Online Yoga Club</span>
				</a>
			</h2>
			<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			<div class="clearfix"></div>
		</div> -->
	</footer>
	<!--/footer -->

	<!-- js -->
	<script type="text/javascript" src="/static/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<!-- /js files -->
	<link href='/static/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<link href='/static/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<script src='/static/js/aos.js'></script>
	<script src="/static/js/aosindex.js"></script>
	<!-- //js files -->
	<!--search-bar-->
	<script src="/static/js/main.js"></script>
	<script src="/static/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!--//search-bar-->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/static/js/move-top.js"></script>
	<script type="text/javascript" src="/static/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/login.js"></script>
	<script type="text/javascript" src="/static/js/team-build.js"></script>


</body>

</html>